Stationarity Tests

In [1]:
# ADF test is a very popular test for stationarity, However some time series passes the ADF test without being stationary, KPSS is another test for checking the stationarity of a time series. It is prudent to apply both tests, so that it can be ensured that the series is truly stationarity. Next to that, we cannot forget teh importance of also observing the time series plot.



# ADF test is used to determine the presence of unit root in the series and hence helps understanding if the series is stationary or not. The null and alternate hypothesis of this test are:



# Null Hypothesis: The series has a unit root, meaning it is non-stationary. It has some time dependent structure.

# Alternate Hypothesis: The series has no unit root, meaning it is stationary. It does not have time dependent structure.


# If the null hypothesis failed to be rejected, this test may provide evidence that the series is non-stationary..

# A p-value below 0.05 suggests we reject the null hypothesis. Otherwise a p-value above the threshold suggests we fail to reject the null hepothesis

In [2]:
import numpy as np
import pandas as pd

We load the data about the pm2.5 for the year 2022 for the city of New Delhi

In [3]:
raw_data = pd.read_csv('NewDelhi_PM2.5_2022_YTD.csv')

In [4]:
raw_data.head()

,Site,Parameter,Date (LT),Year,Month,Day,Hour,NowCast Conc.,AQI,AQI Category,Raw Conc.,Conc. Unit,Duration,QC Name
0,New Delhi,PM2.5 - Principal,2022-01-01 02:00 AM,2022,1,1,2,262.5,313,Hazardous,269.0,UG/M3,1 Hr,Valid
1,New Delhi,PM2.5 - Principal,2022-01-01 03:00 AM,2022,1,1,3,255.3,306,Hazardous,248.0,UG/M3,1 Hr,Valid
2,New Delhi,PM2.5 - Principal,2022-01-01 04:00 AM,2022,1,1,4,252.1,303,Hazardous,249.0,UG/M3,1 Hr,Valid
3,New Delhi,PM2.5 - Principal,2022-01-01 05:00 AM,2022,1,1,5,231.3,281,Very Unhealthy,205.0,UG/M3,1 Hr,Valid
4,New Delhi,PM2.5 - Principal,2022-01-01 06:00 AM,2022,1,1,6,222.6,272,Very Unhealthy,195.0,UG/M3,1 Hr,Valid

We check for the null values if any

In [5]:
raw_data.isna().sum()
# there are 30 nos null values for the AQI Category.

Site              0
Parameter         0
Date (LT)         0
Year              0
Month             0
Day               0
Hour              0
NowCast Conc.     0
AQI               0
AQI Category     39
Raw Conc.         0
Conc. Unit        0
Duration          0
QC Name           0
dtype: int64

In [8]:
data_1 = raw_data[["Date (LT)", "AQI"]]

In [19]:
data_1.rename(columns={"Date (LT)" : "Date"}, inplace=True)

/tmp/ipykernel_22489/4148393300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1.rename(columns={"Date (LT)" : "Date"}, inplace=True)

In [23]:
data_1["Date"] =  pd.to_datetime(data_1["Date"])

0      2022-01-01 02:00:00
1      2022-01-01 03:00:00
2      2022-01-01 04:00:00
3      2022-01-01 05:00:00
4      2022-01-01 06:00:00
               ...
8146   2022-12-31 21:00:00
8147   2022-12-31 22:00:00
8148   2022-12-31 23:00:00
8149   2023-01-01 00:00:00
8150   2023-01-01 01:00:00
Name: Date, Length: 8151, dtype: datetime64[ns]

In [24]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8151 entries, 0 to 8150
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    8151 non-null   datetime64[ns]
 1   AQI     8151 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 127.5 KB

In [ ]:
import statsmodels.api as sm

decomposition  = sm.tsa.seasonal_decompose(diet['diet'])